{
    "singleQuote": true,
    "jsxSingleQuote": true,
    "semi": false,
    "arrowParens": "avoid",
    "bracketSameLine": false,
    "tabWidth": 4,
    "singleAttributePerLine": true,
    "endOfLine": "crlf"
}
